In [1]:
x = 0
y = 5

if x < y:                            # Truthy
    print('yes')

if y < x:                            # Falsy
    print('yes')

if x:                                # Falsy
    print('yes')

if y:                                # Truthy
    print('yes')

if 'aul' in 'grault':                # Truthy
    print('yes')

if 'quux' in ['foo', 'bar', 'baz']:  # Falsy
    print('yes')

yes
yes
yes

In [2]:
if 'foo' in ['bar', 'baz', 'qux']:
    print('Expression was true')
    print('Executing statement in suite')
    print('...')
    print('Done.')
    
print('After conditional')

After conditional

In [3]:

# Does line execute?                        Yes    No
#                                           ---    --
if 'foo' in ['foo', 'bar', 'baz']:        #  x
    print('Outer condition is true')      #  x

    if 10 > 20:                           #  x
        print('Inner condition 1')        #        x

    print('Between inner conditions')     #  x

    if 10 < 20:                           #  x
        print('Inner condition 2')        #  x

    print('End of outer condition')       #  x
print('After outer condition')            #  x

Outer condition is true
Between inner conditions
Inner condition 2
End of outer condition
After outer condition

In [4]:
x = 20

if x < 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [5]:
x = 20

if x > 50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [6]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
else:
    print("uang tidak cukup")

uang tidak cukup

In [7]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang > hargaBuku:
    print("beli buku")
elif uang > hargaMajalah:
    print("beli majalah")
else:
    print("uang tidak cukup")

uang tidak cukup

In [8]:
name = 'Hacktiv8'
if name == 'Fred':
    print('Hello Fred')
elif name == 'Xander':
    print('Hello Xander')
elif name == 'Hacktiv8':
    print('Hello Hacktiv8')
elif name == 'Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [9]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [10]:
if 'f' in 'foo': print('1'); print('2'); print('3')

1
2
3

In [11]:
x = 2

if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [12]:
x = 3
if x == 1: print('foo'); print('bar'); print('baz')
elif x == 2: print('qux'); print('quux')
else: print('corge'); print('grault')

corge
grault

In [13]:
x = 3
if x == 1:
    print('foo')
    print('bar')
    print('baz')
elif x == 2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [14]:
raining = False
print("Let's go to the", 'beach' if not raining else 'library')

Let's go to the beach

In [15]:
poor = False
print("lets go to the", 'mall' if not poor else 'garden' )

lets go to the mall

In [16]:
poor = True
print("lets go to the", 'mall' if not poor else 'garden' )

lets go to the garden

In [17]:
if 'a' in 'kentang':
    print('wahhh ada')
else:
    print('belum')

wahhh ada

In [18]:
def list():

IndentationError: expected an indented block (1586570806.py, line 1)

In [20]:
age = 12
s = 'teen' if age < 21 else 'adult'
s

'teen'

In [21]:

        'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [22]:
if True:

print('foo')

IndentationError: expected an indented block (3367160564.py, line 3)

In [23]:
if True:
pass
print('foo')

IndentationError: expected an indented block (1464649297.py, line 2)

In [24]:
if True:
    pass
print('foo')

foo

In [25]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [26]:
n = 5
while n >= 0:
    n -= 1
    print(n)

4
3
2
1
0
-1

In [27]:
n = 5
while n > 0:
    print(n)
    n -= 1

5
4
3
2
1

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [29]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # Break Statement
    print(n)
print('Loop ended.')

4
3
Loop ended.

In [30]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)
print('Loop ended.')

4
3
1
0
Loop ended.

In [31]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('Loop done.')

4
3
2
1
0
Loop done.

In [32]:
n = 5
while n > 0:
    n -= 1
    print(n)
    if n == 2:
        break
else:
    print('Loop done.')

4
3
2

In [33]:
age = 5
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

NameError: name 'gender' is not defined

In [34]:
age = 15
gender = 'F'
if age < 18:
    if gender == 'M':
        print('son')
    else:
        print('daughter')
elif age >= 18 and age < 65:
    if gender == 'M':
        print('father')
    else:
        print('mother')
else:
    if gender == 'M':
        print('grandfather')
    else:
        print('grandmother')

daughter

In [35]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [36]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))
    print('list sekarang',a)
    
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0))
        print('list sekarang',b)

foo
list sekarang ['bar']
> baz
list sekarang ['qux']
> qux
list sekarang []
bar
list sekarang []
> baz
list sekarang ['qux']
> qux
list sekarang []

In [39]:
a = ['foo', 'bar', 'baz']
for i in a:
    print(i)

foo
bar
baz

In [40]:
a = ['foo', 'bar', 'baz']
for i in b:
    print(i)

foo
bar
baz

In [41]:
b = ['test','this','string']
for i in a:
    print(i)

foo
bar
baz

In [42]:
a = ['foo', 'bar', 'baz']
for i in b:
    print(i)

test
this
string

In [43]:
print(a)

['foo', 'bar', 'baz']

In [44]:
print(b)

['test', 'this', 'string']

In [45]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d:
    print(k)

foo
bar
baz

In [46]:
for k in d:
    print(d[k])

1
2
3

In [47]:
for v in d.values():
    print(v)

1
2
3

In [48]:
for n in (0, 1, 2, 3, 4):
    print(n)

0
1
2
3
4

In [49]:
x = range(5)

In [50]:

for n in x:
    print(n)

0
1
2
3
4

In [51]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        break
    print(i)

foo

In [52]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [53]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('Done.')  # Will execute

foo
bar
baz
qux
Done.

In [54]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if i == 'bar':
        break
    print(i)
else:
    print('Done.')  # Will not execute

foo

In [55]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 100
Masukan input yang benar

NameError: name 'result' is not defined

In [56]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 100C
Temperaturnya adalah 212 derajat

In [57]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: asdasd
asdasd
Ketikan karakter: stop
stop

In [58]:
while True:
    msg = input("Ketikan karakter: ").lower()
    print(msg)
    if msg == "stop":
        break

Ketikan karakter: STOP
stop

In [59]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: asdas

ValueError: invalid literal for int() with base 10: 'asda'

In [60]:
temp = input("Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree = int(temp[:-1])
i_convertion = temp[-1]

if i_convertion == "C":
    result = int(round((9 * degree) / 5 + 32))
elif i_convertion == "F":
    result = int(round((degree - 32) * 5 / 9))
else:
    print("Masukan input yang benar")

print("Temperaturnya adalah", result, "derajat")

Ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 127321
Masukan input yang benar
Temperaturnya adalah 212 derajat